{{define "main"}}
    <table>
        <thead>
            <tr>
                <th scope="col">Timestamp</th>
                <th scope="col">Source</th>
                <th scope="col">Doc</th>
            </tr>
        </thead>
        <tbody>
            {{range .Rows}}
            <tr>
                <td>{{.Timestamp}}</td>
                <td>{{.Source}}</td>
                <td class="doc">
                    <em>{{.DocTitle}}</em>
                    <code>{{.DocID}}</code>
                    <small>{{.Description}}</small>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    
    <br>
    {{if .NextTS}}
        <a href="/?ts={{.NextTS}}">Next 100 Items &gt;</a>
    {{else}}
        <p>End of results.</p>
    {{end}}
    <style>
        td.doc {
    display: flex;
    flex: auto;
      flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
    </style>
{{end}}